<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-4">
			<input></input>
		</div>
		
		<div class="col-md-8">
			<div class="pull-right">
				<% if user_signed_in? %>
					Logged in as <strong><%= current_user.email %></strong>
				<% else %>
					<h1>Unsuccessful Login</h1>
				<% end %>
			</div>
		</div>
		
	</div>
</div>
