// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ----------------- Custom --------------->

span + i { padding-left: 10px; }

#table-wrapper {
  position: relative;
  max-height: 275px;
  overflow: auto;
}

table.data-table { width: 100%; }
  table.data-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    padding: 3% 2%;
  }

div.info-popup {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  color: #5c5c5c;
  border-radius: 50%;
  line-height: 0.8em;
  padding: 2%;
  min-width: 200px;
  min-height: 200px;
}

.task-info {
  display: table-cell;
  vertical-align: middle;
}
  .task-info p { word-wrap: break-word; }
  
.form > div:not(:last-child) {
  margin-bottom: 10%;
}
  
// ----------------- Responsive --------------->

.control-group { text-align: center; }
.control-group * { display: inline-block; }

@media screen and (min-width: 770px) {
  .control-group {
    border-left: 2px solid #c2c2c2;
    height: 525px;
    display: table;
    width: 100%;
  }
  .control-group > div { display: table-row; }
  .control-group > div > a { display: table-cell; }
}

// ----------------- Shapes --------------->

circle {
  stroke-width: 2px;
  vector-effect:non-scaling-stroke;
  cursor: pointer;
}

// ----------------- Overrides --------------->

.dropdown-menu { z-index: 1080 !important; }

.form-control {
  color: #5c5c5c;
  border: 2px solid #c2c2c2 !important;
}

.input-group-addon {
  border: 2px solid #c2c2c2 !important;
  border-right: 0 !important;
}

.tooltip {
  font-size: inherit;
}
  .tooltip-inner {
    max-width: none !important;
    background-color: #335F7C !important;
    padding: 5px 25px;
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: #335F7C !important;
  }

.panel-default {
  border-color: transparent !important;
}
