// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ----------------- CUSTOM CSS --------------->

#table-wrapper {
  position: relative;
  max-height: 180px;
  overflow: auto;
}

table.data-table { width: 100%; }
  table.data-table td,
  table.data-table th { padding: 5px 15px; }

div.info-popup {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 12px sans-serif;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  color: #5c5c5c;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  pointer-events: none;
}

.task-info {
  padding: 25px 10px 0 10px;
}

select.styled-select {
   -webkit-appearance: button;
   -webkit-border-radius: 0;
   -webkit-user-select: none;
   background-image: url("http://i62.tinypic.com/15xvbd5.png");
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}

@media screen and (min-width: 770px) {
  .control-group { border-left: 2px solid #c2c2c2; }
  .control-group > .inline { margin: 50% 0; }
}

circle {
  stroke-width: 2px;
  vector-effect:non-scaling-stroke;
}

// ----------------- Overridden CSS --------------->

.dropdown-menu {
  z-index: 1080 !important;
}

hr {
  border-color: #c2c2c2;
  border-width: 2px !important;
}
