// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ----------------- CUSTOM CSS --------------->

body { font-size: 1.5em; }

table.data-table,
table.data-table td,
table.data-table th {
  border: 1px solid gray;
  padding: 0 5px;
}

div.info-popup {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 12px sans-serif;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  color: gray;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  pointer-events: none;
}

.task-info {
  padding: 25px 10px 0 10px;
}

// ----------------- Overridden CSS --------------->

.dropdown-menu {
  z-index: 1080 !important;
}

// ----------------- External CSS --------------->


// #graph svg { border: 1px solid black; }

circle { stroke-width: 2px; vector-effect:non-scaling-stroke }

.arc path {
  stroke: #fff;
}