
/* ---------------- Global ------------------ */

html {
	margin: 10px;
	font-size: 12px;
}

body {
	color: #6A6D6B;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

a {
	color: #6A6D6B;
	outline: none !important;
}
	a:hover, a:active {
		color: #335F7C !important;
		text-decoration: none;
	}
	
i {
	color: inherit !important;
	font-size: 14px;
}
	
hr {
  border-color: #c2c2c2;
  border-width: 2px !important;
}

/* ---------------- Alignment ------------------ */

.make-table { display: table; }
	.make-table > div { display: table-row; }

.display-ib { display: inline-block; }
	.display-ib-all * { display: inline-block; }

.display-t { display: table; }
.display-tr { display: table-row; }
.display-tc { display: table-cell; }

.vertical-align { vertical-align: middle; }
.vertical-align-bottom { vertical-align: bottom; }

/* ---------------- Positioning ------------------ */

.position-relative { position: relative; }
	.position-relative-all * { position: relative; }
	
.position-absolute { position: absolute; }

.remove-float { float: none !important; }
	.remove-float-all * { float: none !important; }

/* ---------------- Sizing ------------------ */

.width-full { width: 100%; }
.width-90 { width: 90%; }
.width-80 { width: 80%; }
.width-70 { width: 70%; }
.width-60 { width: 60%; }
.width-50 { width: 50%; }
.width-40 { width: 40%; }
.width-30 { width: 30%; }
.width-20 { width: 20%; }
.width-10 { width: 10%; }

/* ---------------- Shapes ------------------ */

.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

/* ---------------- Margin ------------------ */

.v-margin-s { margin-top: 2%; margin-bottom: 2%; }
.v-margin-m { margin-top: 4%; margin-bottom: 4%; }
.v-margin-l { margin-top: 6%; margin-bottom: 6%; }

.h-margin-s { margin-left: 2%; margin-right: 2%; }
.h-margin-m { margin-left: 4%; margin-right: 4%; }
.h-margin-l { margin-left: 6%; margin-right: 6%; }

.margin-xs { margin: 1%; }
.margin-s { margin: 2%; }
.margin-m { margin: 4%; }
.margin-l { margin: 6%; }

.remove-margin { margin: 0 !important; }
.remove-margin-l { margin-left: 0 !important; }
.remove-margin-r { margin-right: 0 !important; }
	.remove-margin-all * { margin: 0 !important; }

.center-margin { margin: 0 auto; }

/* ---------------- Padding ------------------ */

.v-padding-s { padding-top: 2%; padding-bottom: 2%; }
.v-padding-m { padding-top: 4%; padding-bottom: 4%; }
.v-padding-l { padding-top: 6%; padding-bottom: 6%; }

.h-padding-s { padding-left: 2%; padding-right: 2%; }
.h-padding-m { padding-left: 4%; padding-right: 4%; }
.h-padding-l { padding-left: 6%; padding-right: 6%; }

.padding-xs { padding: 1%; }
.padding-s { padding: 2%; }
.padding-m { padding: 4%; }
.padding-l { padding: 6%; }

.remove-padding { padding: 0 !important; }
.remove-padding-l { padding-left: 0 !important; }
.remove-padding-r { padding-right: 0 !important; }

/* ---------------- Border ------------------ */

.remove-border { border: 0 !important; }
.remove-border-radius { border-radius: 0 !important; }

/* ---------------- Shadow ------------------ */

.remove-shadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/* ---------------- Color ------------------ */

.red { color: #850B0B !important; }
.green { color: #6DAA7E !important; }
.blue { color: #335F7C !important; }
.grey { color: #6A6D6B !important; }

/* ---------------- Font ------------------ */

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.light, .light * { font-weight: 300 !important; }
.normal, .normal * { font-weight: 400 !important; }
.medium, .medium * { font-weight: 500 !important; }
.bold, .bold * { font-weight: 700 !important; }

.x1-2 { font-size: 0.8em; }
.x2 { font-size: 1.2em; }
.x3 { font-size: 1.4em; }
.x4 { font-size: 1.6em; }
.x5 { font-size: 1.8em; }
.x6 { font-size: 2em; }

/* ---------------- Misc ------------------ */

.pointer { cursor: pointer; }
.remove-resize { resize: none; }
