
/* ---------------- Global ------------------ */

html { margin: 10px; }

body {
	color: #5c5c5c;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

a { color: #5c5c5c; }
	a:hover { color: #FF3300 !important; }

/* ---------------- Alignment ------------------ */

.inline { display: inline-block; }
	.inline-all * { display: inline-block; }

.table { display: table; }
	.table > div { display: table-row; }
	.table > div > a { display: table-cell; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }

.vertical-align { vertical-align: middle; }

.full-width { width: 100%; }
.three-quarter-width { width: 75%; }

/* ---------------- Shapes ------------------ */

.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

/* ---------------- Margin ------------------ */

.v-margin-s { margin-top: 2%; margin-bottom: 2%; }
.v-margin-m { margin-top: 4%; margin-bottom: 4%; }
.v-margin-l { margin-top: 6%; margin-bottom: 6%; }

.h-margin-s { margin-left: 2%; margin-right: 2%; }
.h-margin-m { margin-left: 4%; margin-right: 4%; }
.h-margin-l { margin-left: 6%; margin-right: 6%; }

.margin-xs { margin: 1%; }
.margin-s { margin: 2%; }
.margin-m { margin: 4%; }
.margin-l { margin: 6%; }

.remove-margin { margin: 0 !important; }
.remove-margin-l { margin-left: 0 !important; }
.remove-margin-r { margin-right: 0 !important; }

.center-margin { margin: 0 auto; }

/* ---------------- Padding ------------------ */

.v-padding-s { padding-top: 2%; padding-bottom: 2%; }
.v-padding-m { padding-top: 4%; padding-bottom: 4%; }
.v-padding-l { padding-top: 6%; padding-bottom: 6%; }

.h-padding-s { padding-left: 2%; padding-right: 2%; }
.h-padding-m { padding-left: 4%; padding-right: 4%; }
.h-padding-l { padding-left: 6%; padding-right: 6%; }

.padding-xs { padding: 1%; }
.padding-s { padding: 2%; }
.padding-m { padding: 4%; }
.padding-l { padding: 6%; }

.remove-padding { padding: 0 !important; }
.remove-padding-l { padding-left: 0 !important; }
.remove-padding-r { padding-right: 0 !important; }

/* ---------------- Color ------------------ */

.red { color: #990000; }
.green { color: #5F874D; }
.gray { color: #343434; }
.orange { color: #FF3300; }

/* ---------------- Font ------------------ */

.left { text-align: left; }
.center { text-align: center; }

.light * { font-weight: 300 !important; }
.normal * { font-weight: 400 !important; }
.medium * { font-weight: 500 !important; }
.bold * { font-weight: 700 !important; }

/* ---------------- Misc ------------------ */

.pointer { cursor: pointer; }
